{% extends 'admin/master.html' %} {% block body %}


    <div class="jumbotron text-center">
        <h1>PushBytes</h1>
        <p>Best Gaming Store</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Publisher</h3>
                <img src="{{url_for('static', filename='PUB.png')}}" id="images" width="400" height="300"/>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Total</h5>
                        <p class="card-text">{{total_publishers}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Games</h3>
                <img src="{{url_for('static', filename='games.png')}}" id="images" width="400" height="300" />
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Total</h5>
                        <p class="card-text">{{total_games}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Orders</h3>
                <img src="{{url_for('static', filename='sales.png')}}" width="400" height="300" />
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Total</h5>
                        <p class="card-text">{{total_orders}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}