{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="/signup" method="post" class="row g-3">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div  class="alert alert-danger" role="alert">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <h4>Crie a sua conta</h4>
                    <div class="col-12">
                        <label>Nome</label>
                        <input type="text" name="name" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-12">
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-12">
                        <label>Senha</label>
                        <input type="password" name="password" class="form-control" placeholder="Senha">
                    </div>
                    <div class="col-12">
                        <label>Confirmar Senha</label>
                        <input type="password" name="password_confirmation" class="form-control" placeholder="Confirmar Senha">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Criar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}